name: C++ Build CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Compile
        run: |
          mkdir -p build
          cd part_a  # <-- Go into the 'a' folder
          g++ -g -std=c++20 -Wall -Wextra \
            *.cpp \
            -o ../build/program

      - name: Test run
        run: ./build/program
        
